
* {
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: var(--font-family);
  background: var(--body-background);
  color: var(--text-color);
}

body.modal-open {
  padding-right: 0 !important;
  overflow-y: scroll !important;
}

a {
  transition: all 0.3s;
  color: inherit !important;
}
